<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aperiam dolor
  tempora nemo delectus aliquid nam nisi accusantium assumenda explicabo!
</p>

<%- include("footer") -%>
